.wan{
 border: 2px solid black
 ;
}
.two{
  border: 2px solid black;
}
.three{
  border: 2px solid black;
}
.por{
  border: 2px solid black;
}
.payb{
  border:2px solid black;
  
 
}
p{
  font-style: italic;
  
}
.pecture{
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin-left:400px;
}
.pd{
  border: 2px solid black;
  background: black;
}
.eb{
border: 2px solid black;
background: black;
}
.er{
border: 2px solid black;
background: black;
}
.cr{
border: 2px solid black;
background: black;

}
h2{
  color: white;
}